* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #EBF2FE;

  header {
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #form-container {
      #weather-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .form-field {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
  
          .tip {
            color: gray;
            font-size: 70%;
          }
  
          #city {
            padding: 5px;
          }
        }
      }
    }

    #showcase {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
      }
    }
  }

}